.App {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;

}
* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(81, 128, 128);
}

.itemCard {
  background-color: rgb(230, 216, 158);
  border: solid 2px black;
  width: 20%;
  height: 40%;
  border-radius: 20%;
  display: inline-block;
  margin: 20px 10px;
  padding: 20px;
  text-align: center;
}

.itemCard > h3, p, img{
  background-color: rgba(230, 216, 158, 0.878);
  width: 65%;
}

h1 {
  font-weight: bolder;
  text-shadow: rgb(230, 216, 158, 0.878);
  border-radius: 30%;
  background-color: rgb(230, 216, 158, 0.878);
  text-align: center;
  font-size: 40px;
}
a {
  font-size: 25px;

}
button, input {
  font-size: 25px;
  background-color: rgba(230, 216, 158, 0.878);
  text-align: center;
}